{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    {{ user.name }}的个人中心
{% endblock title %}

{% block description %}
    {{ user.name }}的个人中心
{% endblock description %}

{% block page %}
    <h2>{{ user.name }}的个人中心</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div style="max-width: 400px;text-align: center;margin: 0 auto">
        <h1>{{ user.name }}的个人信息</h1>
        <br>
        {% crispy form %}
    </div>
    <h4>点击<a href="{% url 'account:password_change' %}">这里</a>修改密码</h4>
{% endblock page %}

{% block scripts %}
    <script src="{% static 'site/js/captcha_refresh.js' %}"></script>
    <script src="{% static 'site/js/preclude_redundant_submit.js' %}"></script>
{% endblock scripts %}
